@import url("https://fonts.googleapis.com/css?family=Montserrat:400");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 100%;
}
body{
  background-color: #111010;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  max-width: 1400px;
  margin: 0 auto;
  color: #ffffff;
}
p{
  margin-bottom: 1rem;
}
h1,h2,h3,h4{
  margin: 2.2rem 0 1.38rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
h1{
  margin-top: 0;
  font-size: 3.052rem;
}
h2{
  font-size: 2.441rem;
}
h3{
  font-size: 1.953rem;
}
h4{
  font-size: 1.563rem;
}
h5{
  font-size: 1.1rem;
}
small,.text_small{
  font-size: 0.8rem;
}
ul{
  list-style: none;
}
.btn{
  background: #0c8bfd;
  color: #ffffff;
  padding: 1rem 2.3rem;
  border: none;
  font-size: 1.3rem;
  border-radius: 40px;
}
i{
  color: #0c8bfd;
}

/* Navbar Section */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 2rem;
  font-weight: 700;
  opacity: .75;
}

/* Hero Section */
.hero{
  display: flex;
  align-items: center;
  margin-top: 80px;
  gap: 3.4rem;
  margin-bottom: 4rem;
}
.hero-heading{
  font-size: 4.6rem;
  font-weight: 900;
}
.hero-heading + h4{
  opacity: .7;
  margin-bottom: 2.5rem;
}
.btn-tsf{
  background: none;
  border: 1px solid white;
  margin-left: 1.5rem;
}

/* Logos Section */
.logos{
  background-color: #1D1C1C;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Services Section */
.services{
  height: 100vh;
  background: #ffffff;
}
.services-top{
  display: flex;
  height: 35%;
  align-items: center;
  justify-content: center;
  color: #111010;
  margin: 0 18%;
}
.services-h5{
  padding: 0 10rem;
  text-align: center;
  opacity: .7;
}
.services-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  height: 60%;
}
.sb-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.75rem;
  border: 1px solid white;
  border-radius: 25px;
  background-color: #1D1C1C;
  width:  25vw;
  height: 25vw;
  line-height: 1.4;
}
.signal-item{
  align-self: start;
}
.sb-bg-w{
  background: none;
  color: #111010;
  border: 2px solid grey;
}
.sb-h5{
  opacity: .7;
}

/* Features Section */
.features{
  background: #ffffff;
  color: #111010;
  padding: 0 80px;
}
.features-top{
  margin-bottom: 2rem;
  padding-right: 14rem;
}
.features-bottom{
  display: flex;
  padding-bottom: 80px;
}
.fbl-sp {
  background: #0c8bfd;
  color: #ffffff;
}
.features-b-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: .7rem;
  margin-bottom: 1.5rem;
  margin-top: .4rem;
  margin-right: 2rem;
  border: 1px solid grey;
  border-radius: 60px;
}
.features-b-div > h4{
  margin-right: 5rem;
}
.features-b-r{
  background: #111010;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  padding-left: 20px;
  border-radius: 30px;
}
.features-br-h{
  background: #343333;
  margin-right: 20px;
  padding: 1rem 1.5rem;
  justify-self: center;
  border-radius: 40px;
  display: flex;
  align-items: center;
}
span{
  display: block;
  width: 1rem;
  height: 1rem;
  background: #ffffff;
  border-radius: 50%;
  margin-right: .8rem;
}

/* Prices Section */
.prices-top{
  text-align: center;
  padding: 2rem 20rem;
}
.arrows{
  position: relative;
  bottom :100px;
  height: 80px;
}
.arrows::after{
  content: url('./assets/Icons/arrow-right.svg');
  position: relative;
  left: 450px;
}
.arrows::before{
  content: url('./assets/Icons/arrow-left.svg');
  position: relative;
  right: 450px;
}
.prices-bottom{
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 90vh;
}
.prices-item{
  width: 23vw;
  background: #ffffff;
  color: #111010;
  border-radius: 2rem;
  padding-left: 2rem;
}
.prices-item-sp{
  background: #0c8bfd;
  color: #ffffff;
}
.packs-btn-sp{
  background: #ffffff;
  color: #0c8bfd;
}
sub{
  opacity: .7;
}
.prices-item > div > h5{
  margin: .4rem 0;
}
.packs-btn{
  width: 90%;
}
.prices-item-top{
  height: 40%;
  padding-right: 3rem;
}
.prices-item-bottom{
  display: flex;
  flex-direction: column;
}
.prices-item-bottom > h5 > img {
  margin-bottom: -.2rem;
  margin-right: .5rem;
}

/* Reviews Section */
.reviews{
  height: 95vh;
}
.reviews{
  height: 95vh;
  max-width: 1400px;
  padding: 0 100px;
  background: #ffffff;
  color: #111010;
}
.reviews-top{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  gap: rem;;
  margin-right: 6rem;
  align-items: center;
  padding-top: 5rem;
}
.reviews-top-h{
width: 40vw;
padding-right: 10rem;
}
.reviews-top-h5{
  opacity: .7;
}
.reviews-bottom{
  display: flex;
  gap: 50px;
}
.review-1, .review-2{
  height: 50vh;
}
.review-1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 110rem;
  background: #111010;
  color: #ffffff;
  padding: 2rem;  
  border-radius: 20px;
}
.review-2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;  
  border: 2px solid grey;
  border-radius: 20px;
}
.mark::before{
  content: url('./assets/Icons/vuesax/bulk/vuesax/bulk/Vector.svg') url('./assets/Icons/vuesax/bulk/vuesax/bulk/Vector-1.svg');
}
.line{
  width: 9rem;
  height: .4rem;
  background:  #0c8bfd;
  margin-top: 2rem;
  border-radius: 10px;
}

/* Signup Section */
.signup{
  height: 60vh;
  text-align: center;
  border-bottom: 2px solid grey;
}
.signup-t{
  padding: 3rem 9rem;
}
.signup-b{
  background: #1D1C1C;
  padding: 3rem;
  margin: 0 5rem;
  border-radius: 30px;
}
.input{
  background: #343333;
  color: #ffffff;
  padding: 1rem 2.3rem;
  border: none;
  font-size: 1.3rem;
  border-radius: 40px;
}

/* Footer Section */
.footer{
  display: flex;
  justify-content: space-around ;
  padding: 50px 50px;
  border-bottom: 2px solid grey;
}
li{
  margin: .8rem 0;
}
.footer-logo{
  margin: 1rem 0 3rem 0;
}