*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F9F5ED;
}
nav{
    padding: 20px 10%;
    height: 15vh;
}
nav ul{
    display: flex;
    gap: 5%;
    align-items: center;
}
nav ul li{
    list-style: none;
}
/* CSS for Hero Section */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}
.leftmain{
    width: 40%;
}
.leftmain h1{
    font-size: 67px;
}
.leftmain p{
    margin: 5% 0;
}
.leftmain button{
    border: none;
    padding: 15px 20px;
    background-color: #3b855b;
    border-radius: 8px;
    color: white;
    font-weight: 500;
}
.rightmain{
    width: 60%;
    margin-left: 10%;
}
.rightmain .upperimage{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.rightmain .lowerimage{
}